@model LoanViewVM

@{
    ViewData["Title"] = "My Loans";
}

<div class="container text-center w-100">
<h1>My Loans</h1>
</div>
<br />
<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
       
            <th>
                @Html.DisplayNameFor(model => model.LoanRequests[0].LoanType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanRequests[0].LoanTerm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanRequests[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanRequests[0].LoanStatus)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LoanRequests)
        {
            <tr>
         
                <td>
                    @Html.DisplayFor(modelItem => item.LoanType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoanTerm.Term)  Months
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoanStatus.Status)
                </td>
               
                <td>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="form-group container d-inline-flex justify-content-around align-content-center border-top">
    <a class="btn btn-success mt-3" asp-controller="Home" asp-action="Index"> Back To Home </a>
    <a class="btn btn-secondary mt-3" asp-action="Create"> Request A New Loan </a>
</div>